@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    display: flex;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #FF7001;
    width: 250px;
    height: 100vh; /* Full height */
    font-size: 22px;
    font-weight: bolder;
    padding-top: 20px;
     /* Keep header in place while scrolling */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    flex-shrink: 0; /* Prevents shrinking */
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

header li {
    margin-bottom: 50px;
}

header li a {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

header li:hover {
    background-color: white;
    opacity: 0.6;
    color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

header a:hover {
    color: black;
}

header .active {
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: black;
}

.logo, .exit {
    display: block;
    margin: 20px auto 50px auto;
    border-radius: 15px;
}

.logo {
    height: 80px;
    width: 80px;
}

.exit {
    height: 40px;
    width: 40px;
    filter: invert(100%) sepia(3%) saturate(7481%) hue-rotate(247deg) brightness(114%) contrast(93%);
    margin-top: 130px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the flex container */
    padding: 20px;
    flex: 1;
}

form {
    margin-left: 50px; /* Adjust the space between navbar and form */
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form elements */
}

input, select {
    background-color: rgba(217, 217, 217);
    margin-right: 0px;
    border: none;
    border-radius: 27px;
    font-family: 'Montserrat';
    margin-bottom: 10px;
}

input {
    height: 75px;
    width: 250px;
}

select {
    height: 75px;
    width: 275px;
}

button {
    padding: 15px 25px;
    height: 75px;
    width: 275px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #FF7001;
    border: none;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-weight: bolder;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-child {
    flex: 1;
    border: 2px solid transparent;
    margin-right: 20px;
    box-sizing: border-box;
}

.checkbox-container {
    margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container label {
    position: relative;
    display: inline-block;  
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; /* Use the same font-family as the rest of the page */
}

/* Custom styles for the checkbox */
.checkbox-container label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #FF7001;
    background-color:  #FF7001;
    border-radius: 5px;
}

.checkbox-container input[type="checkbox"]:checked + label:after {
    content: "\2713"; /* Checkmark symbol */
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: white; /* Color of the checkmark */
}