

<div #printContent class="container">
    <div class="left-stripe"></div>
    <div class="wave"></div>    
    <div class="wave2"></div>
    <div class="flex-container">
        <div class="Information-right" style="width: 600px;">
            <div class="firstname">MARCUS ADRIANNE</div>
            <div class="lastname">MERCADO</div>
            <div class="studentno">202211395</div>
            <div class="course"> 2ND YEAR - BSCS</div>
            <div class="schoolx">EDUCATION</div>
            <div class="schoolone">Gordon College (2022-2024)</div>
            <div class="schooloneinfo">Senior High School</div>
            <div class="schooltwo">Maranatha Christian Academy (2018-2022) </div>
            <div class="schooltwoinfo">Junior High School</div>
            <div class="portfolio">LATEST CERTIFICATES</div>
            <div class="portfolio-one"><img src="./assets/asd.jpg" alt=""><img src="./assets/asd.jpg" alt=""></div>
            <div class="info">
                <div class="nameone">Example hello hello hello hello awefawefawef asdfasdfasdfasdf asdasd</div>
                <div class="nametwo">Example hello hello hello hello awefawefawef asdfasdfasdfasdf asdasd</div>
            </div>
            <div class="portfolio-two"><img src="./assets/asd.jpg" alt=""><img src="./assets/asd.jpg" alt=""></div>
            <div class="info">
                <div class="namethree">Example hello hello hello hello awefawefawef asdfasdfasdfasdf asdasd</div>
                <div class="namefour">Example hello hello hello hello awefawefawef asdfasdfasdfasdf asdasd</div>
            </div>
        </div>        
    </div>
    <div class="flex-container2" style="width: 250px;">
        <div class="Information-left">
            <div class="profilepic"><img src="./assets/asd.jpg" alt=""></div>
            <div class="contactinfo">PHONE</div>
            <div class="contactno" >09692054107</div>
            <div class="emailll">EMAIL ADDRESS</div>
            <div class="email" >marcusofficial01&#64;gmail.com</div>
            <div class="addressinfo">HOME ADDRESS</div>
            <div class="address">1484 julo street asdfasdfasdfasdfasdfasdfasdfasd</div>
            <div class="skills">SKILLS</div>
            <ul>
                <li>Python</li>
                <li>C++</li>
                <li>Php</li>
                <li>Java</li>
            </ul>
            <div class="emergency">EMERGENCY CONTACT</div>
            <div class="emergency-contact" >John Doe</div>
            <div class="emergency-no">09696969420</div>
            <div class="coordinator">COORDINATOR</div>
            <div class="coordinator-name" >Sir. Kenneth Bautista</div>
            <div class="coordinator-no">09696969696</div>
        </div>
    </div>
</div>
<button (click)="printResume()">Print Resume</button>